@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   color: white;
}

input:focus {
}
.btn {
   @apply w-16 h-8 ml-2 text-xs duration-200 border border-black rounded-md md:w-28 md:text-lg md:h-10 bg-slate-500 hover:bg-slate-600 hover:scale-105;
}
.wrap-node {
   @apply flex flex-col gap-2 m-2 text-center;
}
li {
   @apply items-center  border-[3px]  w-20 h-12 pt-2 text-center align-middle list-none duration-200 bg-green-500 border-green-700 rounded-md shadow-md cursor-pointer md:w-28 hover:scale-110;
}

.blink {
   animation-duration: 2s;
   animation-name: bounce;
   animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
@keyframes bounce {
   0% {
      transform: scale(1, 1) translateY(0);
   }
   10% {
      transform: scale(1.1, 0.9) translateY(0);
   }
   30% {
      transform: scale(0.9, 1.1) translateY(-50px);
   }
   50% {
      transform: scale(1.05, 0.95) translateY(0);
   }
   57% {
      transform: scale(1, 1) translateY(-10px);
   }
   64% {
      transform: scale(1, 1) translateY(0);
   }
   100% {
      transform: scale(1, 1) translateY(0);
   }
}
